# Node modules
app/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Terraform future files
*.tfstate
*.tfstate.*
.terraform/
terraform/.terraform.lock.hcl
terraform-ecr/.terraform.lock.hcl

# Kubernetes future files
kubeconfig

# Docker future files
*.tar

# Artifactory future configs
jfrog/

# Misc
coverage/
dist/
build/
